body {
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: none;
    color: #666;

}
/* 定义自己的字体图标 */
@font-face {
    /* 声明自己的字体名称 */
    font-family: 'wjs';
    /* 引入字体文件 */
    src: url(../images/fonts/MiFie-Web-Font.svg) format('svg'),
         url(../images/fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
         url(../images/fonts/MiFie-Web-Font.ttf) format('truetype'),
         url(../images/fonts/MiFie-Web-Font.woff) format('woff');
}
.wjs_icon {
    font-family: 'wjs';
}
.wjs_icon_phone::before {
    content: "\e908";
}
.wjs_icon_tel::before {
    content: "\e909";
} 
.wjs_icon_logo::before {
    content: "\e920";
}
.wjs_icon_name::before {
    content: "\e93e";
}
.wjs_topBar {
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    color: #666;
}
.wjs_topBar > .container > .row > div {
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.wjs_topBar > .container > .row > div ~ div {
    border-left: 1px solid #ccc;
}
.wjs_app {
    display: block;
}
.wjs_app img {
    display: none;
}
.wjs_app:hover img {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    border: 1px solid #ccc;
    border-top: none;
}
.wjs_topBar .btn-register {
    border: none;
    background: #e92322;
    color: #fff;
    font-size: 12px;
    padding: 3px 12px;
}
.wjs_topBar .btn-login {
    font-size: 12px;
    color: #666;
}
.wjs_topBar .btn-login:hover {
    text-decoration: none;
    color: #666;
}
.wjs_nav {
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wjs_nav .wjs_icon_logo {
    color: #e92322;
    font-size: 50px;
    vertical-align: middle;
}
.wjs_nav .wjs_icon_name {
    color: #333;
    font-size: 36px;
    vertical-align: middle;
}
.wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-brand:hover, 
.wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.wjs_nav .navbar-text {
    color: #777;
}
.wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus  {
    color: #666;
    background-color: transparent;
    border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.wjs_nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
}
.wjs_nav .navbar-toggle:hover, 
.wjs_nav .navbar-toggle:focus {
    border-color: #ddd;
}
.wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
}
/* PC端轮播图显示样式 */
.pc_imgBox {
    display: block;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* 移动端轮播图显示样式 */
.m_imgBox {
    display: block;
    width: 100%;
}
.m_imgBox img {
    display: block;
    width: 100%;
}